.imageWrapper {
    position: 'relative';
    z-index: 0;
    
}
.overlayImage1 {
    position: 'absolute';
    z-index: '1';
    top: 0;
    left: 0;
}

.overlayImage2 {
    position: 'absolute';
    z-index: '1';
    top: 0;
    left: 0;
    
}


.horizontal-scroll-container {
  overflow-x: auto;
  max-width: 100vw;
  position: relative;
}

.wide-content {
  min-width: 520px; /* Sets the miniumum value for the 'wide-content' that is contained within */ 
                    /* the 'horizontal-scroll-container' class element */
}

