
:root {
  --rotationalOffset: 30; 
}


div.pageContainer { margin:0px; background:hsl(70, 31%, 85%); text-align:center; }


    /* width:120px;
    height:145px; */
    

.balloon {
    display:inline-block;
    width:60px;
    height:72px;
    background:hsl(215,50%,65%);
    border-radius:80%;
    position:relative;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    margin:20px 0px;
    transition:transform 0.5s ease;
    z-index:10;
    animation:balloons 10s ease-in-out infinite;
    transform-origin:bottom center;
}




@keyframes balloons {

    0% {
        transform: scale(1);
        transform: rotate(-4deg); 
    }

    20% {
        transform: scaleY(0.95) scaleX(1.05);
        
    }

    50% {  
        transform: scaleY(1.1) scaleX(0.9); 
        transform: rotate(10deg);
    }

    
    80% {
        transform: scaleY(1.02) scaleX(0.98);
    }
    
    
    100% {
        transform: scale(1);
        transform: rotate(-4deg);
    }

} 



@keyframes pop {
    0%{
        opacity: 1;
        transform: translateZ(0) scale(1, 1);
        
      }
    100%{
        opacity: 0;
        transform: translateZ(0) scale(1.5, 1.5) rotate(-4deg);
        
      }
  }




  .balloon.popped {
    animation: pop 5s cubic-bezier(0.16, 0.87, 0.48, 0.99) forwards;
  }


  .balloon::after {
    
    display: block;
    
    background:
		linear-gradient(-50deg,hsla(0,0%,80%,0) 68%,hsl(0,0%,100%),hsla(0,0%,80%,0) 72%) 100% 0 / 75% 40%,
		linear-gradient(-20deg,hsla(0,0%,80%,0) 67%,hsl(0,0%,100%),hsla(0,0%,80%,0) 73%) 100% 0 / 75% 100%,
		linear-gradient(-80deg,hsla(0,0%,80%,0) 90%,hsl(0,0%,100%),hsla(0,0%,80%,0) 96%) 100% 100% / 80% 50%,
		linear-gradient(10deg,hsla(0,0%,80%,0) 44%,hsl(0,0%,100%),hsla(0,0%,80%,0) 50%) 100% 0 / 50% 100%,
		linear-gradient(-30deg,hsla(0,0%,80%,0) 21%,hsl(0,0%,100%),hsla(0,0%,80%,0) 27%) 20% 0 / 40% 100%,
		linear-gradient(110deg,hsla(0,0%,80%,0) 47%,hsl(0,0%,100%),hsla(0,0%,80%,0) 53%) 0 100% / 100% 30%,
		linear-gradient(-5deg,hsla(0,0%,70%,0) 55%,hsl(0,0%,70%),hsla(0,0%,70%,0) 62%) 100% 0 / 35% 100%,
		linear-gradient(25deg,hsla(0,0%,70%,0) 32%,hsl(0,0%,70%),hsla(0,0%,70%,0) 39%) 100% 0 / 50% 100%,
		linear-gradient(20deg,hsla(0,0%,70%,0) 22%,hsl(0,0%,70%),hsla(0,0%,70%,0) 29%) 100% 0 / 40% 100%;
	background-repeat: no-repeat;
	content: "";
	clip-path: circle(0% at 50% 50%);
	transition: clip-path 0.1s ease-in-out;
	width: 100%;
	height: 100%;
    z-index: -100;
}



.popped::after {
	clip-path: circle(50% at 50% 50%);
    
}




  @keyframes spotHit1 {
    
    0%{
        opacity: 0;
        transform: translate(35px, -80px) translateZ(0) scale(3) rotate(-40deg);
        
      }
      50%{
        opacity: 1;
        transform: translate(35px, 50px) translateZ(0) scale(1) rotate(-340deg);
        
      }
      100%{
        opacity: 0;
        transform: translate(35px, 50px) scale(1) translateZ(0) rotate(-340deg);

        
      }
      
  }



  @keyframes spotHit2 {
    
    0%{
        opacity: 0;
        transform: translate(60px, -80px) translateZ(0) scale(3) rotate(-100deg);
        
      }
      50%{
        opacity: 1;
        transform: translate(60px, 40px) translateZ(0) scale(1) rotate(-500deg);
        
      }
      100%{
        opacity: 0;
        transform: translate(60px, 40px) scale(1) translateZ(0) rotate(-500deg);

        
      }
      
      
  }


   @keyframes spotHit3 {
    
    0%{
        opacity: 0;
        transform: translate(35px, -80px) translateZ(0) scale(3) rotate(-340deg);
        
      }
      50%{
        opacity: 1;
        transform: translate(35px, 50px) translateZ(0) scale(1) rotate(-530deg);
        
      }
      100%{
        opacity: 0;
        transform: translate(35px, 50px) scale(1) translateZ(0) rotate(-530deg);

        
      }
      
      
  }



  @keyframes spotHit4 {
    
    0%{
        opacity: 0;
        transform: translate(35px, -80px) translateZ(0) scale(3) rotate(-340deg);
        
      }
      50%{
        opacity: 1;
        transform: translate(35px, 50px) translateZ(0) scale(1) rotate(-600deg);
        
      }
      100%{
        opacity: 0;
        transform: translate(35px, 50px) scale(1) translateZ(0) rotate(-600deg);

        
      }
      
      
  }



  @keyframes spotHit5 {
    
    0%{
        opacity: 0;
        transform: translate(35px, -80px) translateZ(0) scale(3) rotate(40deg);
        
      }
      50%{
        opacity: 1;
        transform: translate(45px, 50px) translateZ(0) scale(1) rotate(-440deg);
        
      }
      100%{
        opacity: 0;
        transform: translate(45px, 50px) scale(1) translateZ(0) rotate(-440deg);

        
      }
      
      
  }
