
/* * {
  outline: 1px solid red;
} */

*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #333842;
  min-height: 100vh;
  min-width: 100%;
  /* border: 4px green solid; */
  box-sizing: border-box;
  /* max-width: 520px; */
  /* min-width: 300px; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #23272e;
  min-height: 45px;
  height: 10vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* max-width: 100%; */
  box-sizing: border-box;
  margin-left:auto;
  margin-right:auto;
}

.App-body {
  background-color: #333842;
  /* min-height: 90vh; */
  /* min-height: fit-content;
  min-width: fit-content; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* border: 4px green solid; */
  box-sizing: border-box;
  max-width: 100vw;
  /* min-width: 600px; */


  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



html, body, #root{
  height: 100%;
  margin: 0;
  /* background-color: #333842; */
  /* padding: 0; */
  /* overflow-y: auto; */
    box-sizing: border-box;
    /* min-width: 500px; */


}


/* body {
  padding-right: 0 !important;
} */

#root {
  width: 100%;
  box-sizing: border-box;

}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.page-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

/* Match App-header */
.app-background-header {
  min-height: 45px;
  background-color: #23272e; 
  height: 10vh;
  box-sizing: border-box;
}

/* Match App-body */
 .app-background-body {
  background-color: #333842; 
  flex: 1;
  box-sizing: border-box;
}