
/* * {
  outline: 1px solid red;
} */

.App {
  text-align: center;
  min-width: fit-content;
  background-color: #333842;
  min-height: 100vh;
  /* border: 4px red solid; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #23272e;
  min-height: 10vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #333842;
  /* min-height: 90vh; */
  min-height: fit-content;
  min-width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* border: 4px green solid; */

  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



html, body {
  height: 100%;
  margin: 0;
  /* background-color: #333842; */

}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
